@import "_variables.scss";

@mixin display-with-content($dis,$align) {
  display: $dis;
  justify-content: $align;
}
@mixin container-content {
         max-width: 1000px;
         margin: auto;
}
@mixin box-image {
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
}


