$light_color:#FFFFFF;
$black_color:#000000;
$grey-color:#e6e6e6;
$light-grey:#f4f5f9;
$headerbg-color:#015172 ;
$light-sky:#007fb9;
$buttonbg-color:#006792 ;
$gunmatel-color:#333;
$north-hr-color:#9bd5ee;
$dark-grey-color:#808080;
$font-lato:'Lato', sans-serif;